<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<h1>Create Work <a href="/">HOME</a> </h1>
<div>
    <form action="#" th:action="@{/create-work/save}" th:object="${studentReqDTO}" method="post">
        <label>studentId</label>
        <input type="text" th:field="*{studentId}">
        <label>assignmentName</label>
        <input type="text" th:field="*{assignmentName}">
        <label>workDetail</label>
        <input type="text" th:field="*{workDetail}">
        <button type="submit">Submit</button>
    </form>

    <div th:if="${result}" th:text="${result}" th:class="${'alert ' + result}"></div>

</div>

</body>
</html>