<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<h1>Show Work <a href="/">HOME</a> </h1>
<form action="#" th:action="@{/show-work}" th:object="${studentReqDTO}" method="post">
    <label>Student ID</label>
    <input type="text" th:field="*{studentId}">
    <button type="submit">Submit</button>
</form>

<ul>
    <li th:each="studentEntity : ${studentEntityList}">
        <span th:text="${studentEntity.studentId}"></span>
        <span th:text="${studentEntity.assignmentId}"></span>
        <span th:text="${studentEntity.workDetail}"></span>
        <span th:text="${studentEntity.submitWorkDate}"></span>
    </li>
</ul>

<h1>ทำ Response ไม่ทัน ครับ</h1>

</body>
</html>